{% extends 'base.html' %}

{%block head_title %}{{block.super}} | {{ user }}{% endblock head_title %}

{% block content %}
<div class="row mt-3">
    <div class="col-4">
        <div class="card my-2">
            <div class="card-header">
                 <h4>{% if request.user == user %}Your {% endif %}User Profile</h4>
            </div>
            <div class="card-body">
                <p class="lead">@{{ user }}</p>
                <p class="mb-0">Registration: {{ user.date_joined|date:"d M Y" }}</p>
                <p class="mb-0">Conversation: {{ user.conversation.count }}</p>
                <p class="mb-0">Posts: {{ user.posts.count }}</p>
            </div>
            <div class="card-footer bg-info mb-3"></div>
        </div>
    </div>
    <div class="col-8">
        <div class="card my-2">
            <div class="card-header">
                <h4>Conversation</h4>
            </div>
            <div class="card-body">
                {% for conversation in conversations_user %}
                <div class="text-black"> <a href="{{ conversation.get_absolute_url }}">{{ conversation.title }}</a>

                    <p class="text-muted">{{ conversation.membership }}</p>
                {% empty %}
                    {% if request.user != user %}
                        <p>{{ user }} No conversation made!</p>
                    {% else %}
                        <p>You didn't have any conversation!</p>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="card-footer bg-info mb-3"></div>
        </div>
    </div>
</div>


    <h1>User: {{ user }}</h1>

{% endblock content %}

